{% extends 'base.html.twig' %}


{% block body %}
    <section class="section">
        <div class="articleParent">
            {% for article in articles %}
                <div class="articleElement">
                    <img src="{{ asset('img/upload/' ~ article.picture) }}" alt="{{article.name}}">
                    <h3>{{article.name}}</h3>
                    <p>{{article.content}}</p>
                    <a href="{{path('app_commander')}}">Livraison GRATUITE dès 999.90 € d'achats expédiés par Larycom</a>
                    <p class="priceColor2"><b>Prix</b>: {{article.price}} <b>€</b></p>

                    <a href="{{path('single_article', {id: article.id} )}}">Voir Plus</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
